{% extends "base.html" %}

{% block title %}控制台{% endblock %}

{% block content %}
<blockquote class="layui-elem-quote">
    <i>当前位置：控制台</i><br><i>当前标签：{{ request.args.get("label", labelDefault) }}</i>
</blockquote>
<div class="layui-tab layui-tab-brief" lay-filter="adminTab">
  <ul class="layui-tab-title">
      <li class="layui-this" lay-id="upload">上传图片</li>
      <li lay-id="system">系统配置</li>
      <li lay-id="label">分类管理</li>
  </ul>
  <div class="layui-tab-content" style="height: 100px;">
    <div class="layui-tab-item layui-show">
        <!--<blockquote class="layui-elem-quote"></blockquote>-->
        <fieldset class="layui-elem-field">
            <legend>请先选择图片上传的标签</legend>
            <div class="layui-field-box" id="uploadLabelArea"></div>
        </fieldset>
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="chooseList">选择图片</button> 
            <button type="button" class="layui-btn" id="uploadAction"><i class="layui-icon">&#xe67c;</i>开始上传</button>
            <div class="layui-upload-list">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>预览</th>
                            <th>文件名</th>
                            <th>大小</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="previewList"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="layui-tab-item">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">站点标题</label>
                <div class="layui-input-block">
                    <input type="text" name="site_TitleSuffix" autocomplete="off" placeholder="站点标题后缀" class="layui-input" value="{{ g.site.site_TitleSuffix }}" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">订阅标题</label>
                <div class="layui-input-block">
                    <input type="text" name="site_RssTitle" autocomplete="off" placeholder="站点订阅源标题" class="layui-input" value="{{ g.site.site_RssTitle }}" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">许可证</label>
                <div class="layui-input-block">
                    <input type="text" name="site_License" autocomplete="off" placeholder="站点许可证" class="layui-input" value="{{ g.site.site_License }}" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">版权</label>
                <div class="layui-input-block">
                    <input type="text" name="site_Copyright" autocomplete="off" placeholder="站点版权" class="layui-input" value="{{ g.site.site_Copyright }}" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="author_Email" autocomplete="off" placeholder="作者邮箱" class="layui-input" value="{{ g.site.author_Email }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">GitHub</label>
                <div class="layui-input-block">
                    <input type="text" name="github" autocomplete="off" placeholder="项目GitHub地址" class="layui-input" value="{{ g.site.github }}" lay-verify="url">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">首页访问</label>
                <div class="layui-input-block">
                    <input type="checkbox" {% if g.site.sys_Close|int == 0 %}checked=""{% endif %} name="sys_Close" lay-skin="switch" lay-filter="sysCloseSwitch" lay-text="开启|关闭">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" title="允许SSO登录的用户列表">允许用户</label>
                <div class="layui-input-block">
                    <input type="text" name="sso_AllowedUsers" autocomplete="off" placeholder='SSO允许登录的用户列表，格式是: "user1, user2, ..."' class="layui-input" value="{{ g.site.sso_AllowedUsers }}" lay-verify="required" title='格式是: "user1, user2, ..."'>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" title="图片同时上传最大数量限制">上传数量</label>
                <div class="layui-input-block">
                    <input type="number" name="site_UploadMax" autocomplete="off" placeholder='' class="layui-input" value="{{ g.site.site_UploadMax }}" lay-verify="required|number">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" title="图片大小限制，单位KB">上传大小</label>
                <div class="layui-input-block">
                    <input type="number" name="site_UploadSize" autocomplete="off" placeholder='' class="layui-input" value="{{ g.site.site_UploadSize }}" lay-verify="required|number">
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit lay-filter="setSystemGo">更新配置</button>
            </div>
        </form>
    </div>
    <div class="layui-tab-item">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit lay-filter="setLabel">添加标签</button>
                <div class="layui-input-inline">
                    <input type="text" name="label" autocomplete="off" placeholder="标签名称" class="layui-input" lay-verify="required">
                </div>
            </div>
        </form>
        <table id="labelManager" lay-filter="label"></table>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/html" id="labelBar">
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script>
    var upload = layui.upload, layer = layui.layer, $ = layui.jquery, element = layui.element, form = layui.form, table = layui.table, util = layui.util;
    //显示当前tab
    if(location.hash){
        element.tabChange('adminTab', location.hash.replace(/^#/, ''));
    }
    //监听tab切换
    element.on('tab(adminTab)', function(){
        var othis = $(this), layid = othis.attr('lay-id');
        if(layid){
            location.hash = layid;
        }
    });
    //多文件列表上传
    var demoListView = $('#previewList'), uploadListIns = upload.render({
        elem: '#chooseList'
        ,url: '{{ url_for("upload_view") }}?'+make_url({label: "{{ request.args.get('label', labelDefault) }}"})
        ,method: 'POST'
        ,accept: 'images'
        ,exts: 'jpg|png|gif|bmp|jpeg|mp4'
        ,multiple: true
        ,auto: false
        ,number: {{ g.site.site_UploadMax|int }}
        ,size: {{ g.site.site_UploadSize|int }}
        ,bindAction: '#uploadAction'
        ,choose: function(obj){   
            var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
            //读取本地文件
            obj.preview(function(index, file, result){
                var tr = $(['<tr id="upload-'+ index +'">'
                    ,'<td><img src="'+ result +'" style="max-width:50px" class="layui-upload-img"></td>'
                    ,'<td>'+ file.name +'</td>'
                    ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                    ,'<td>等待上传</td>'
                    ,'<td>'
                    ,'<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>'
                    ,'<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
                    ,'</td>'
                    ,'</tr>'].join(''));
                //单个重传
                tr.find('.demo-reload').on('click', function(){
                    obj.upload(index, file);
                });
                //删除
                tr.find('.demo-delete').on('click', function(){
                    delete files[index]; //删除对应的文件
                    tr.remove();
                });
                demoListView.append(tr);
            });
        }
        ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
            if (Object.keys(this.files).length===0) {
                layer.msg("队列中无图片");
            } else {
                layer.load(); //上传loading
            }
        }
        ,done: function(res, index, upload){
            if(res.code == 0){ //上传成功
                var tr = demoListView.find('tr#upload-'+ index),tds = tr.children();
                tds.eq(3).html('<span style="color: #5FB878;">上传成功</span>');
                tds.eq(4).html('<a href="'+res.imgUrl+'" target="_blank"><button class="layui-btn layui-btn-mini layui-btn-normal">查看</button></a>'); //清空操作
                delete this.files[index]; //删除文件队列已经上传成功的文件
                layer.closeAll('loading');
                return;
            }
            this.error(index, upload);
        }
        ,error: function(index, upload){
            var tr = demoListView.find('tr#upload-'+ index),tds = tr.children();
            tds.eq(3).html('<span style="color: #FF5722;">上传失败</span>');
            tds.eq(4).find('.demo-reload').removeClass('layui-hide'); //显示重传
            layer.closeAll('loading');
        }
        ,allDone: function(obj){ //当文件全部被提交后，才触发
            if (obj.total==obj.successful) {
                layer.msg("已全部上传！");
            }
        }
    });
    var sysClose = "{{ g.site.sys_Close }}";
    //监听指定开关
    form.on('switch(sysCloseSwitch)', function(data){
        console.log(data.elem.checked); //开关是否开启，true或者false
        if (data.elem.checked==true) {
            sysClose = 0;
        } else {
            sysClose = 1;
        }
    });
    //监听提交
    form.on('submit(setSystemGo)', function(data){
        field = data.field; //当前容器的全部表单字段，名值对形式：{name: value}
        field['sys_Close'] = sysClose;
        console.log(field);
        var params = {Action: "setSystem"};
        $.ajax({
            url: "{{ url_for('api_view') }}?"+make_url(params),
            method: 'POST',
            datatype: 'json',
            data: field,
            success: function(res) {
                console.log(res);
                if (res.code==0) {
                    layer.msg("更新配置成功！");
                } else {
                    layer.msg("更新配置失败！");
                }
            },
            error: function(error){
                console.log(error);
                layer.alert("服务器异常！");
            }
        });
        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
    var labels = new Array();
    function setLabelArea(labels) {
        // 渲染标签区域
        var str = '';
        for (var index = 0, length = labels.length; index < length ; index++) {
            str += '<a href="{{ url_for("admin_view") }}?label='+ labels[index] +'"><span class="layui-badge layui-bg-green">' + labels[index] + '</span></a>&nbsp;&nbsp;';
        }
        $('#uploadLabelArea').html(str);
    }
    //定义渲染应用列表函数
    var options = {
            elem: "#labelManager"
            ,url: '{{ url_for("api_view") }}?'+make_url({Action:"getLabel", is_layui_table: true}) //数据接口
            ,page: true //开启分页
            ,cellMinWidth: 30
            ,loading: true
            ,cols: [[ //表头
                {field: 'LAY_TABLE_INDEX', title: '序号'}
                ,{field: 'label', title: '标签'}
                ,{field: 'user', title: '创建人'}
                ,{field: 'ctime', title: '创建时间', templet: function(d) {
                    return util.toDateString(d.ctime*1000);
                }}
                ,{fixed: 'right', align:'center', toolbar: '#labelBar'} //这里的toolbar值是模板元素的选择器
            ]]
            ,done: function(res){
                for (var index = 0, length = res.data.length; index < length ; index++) {
                    labels[index] = res.data[index].label;
                }
                setLabelArea(labels);
            }
    };
    //初始化渲染表格
    table.render(options);
    //监听提交
    form.on('submit(setLabel)', function(data){
        $.ajax({
            url: "{{ url_for('api_view') }}?"+make_url({Action: "setLabel"}),
            method: 'POST',
            datatype: 'json',
            data: {"label": data.field.label},
            success: function(res) {
                if (res.code==0) {
                    layer.msg("添加标签成功！");
                    //添加元素并重新渲染
                    labels.push(data.field.label);
                    setLabelArea(labels);
                    //重载表格
                    table.reload("labelManager", options);
                } else {
                    layer.msg(res.msg);
                }
            },
            error: function(error){
                layer.msg("服务器异常！");
            }
        });
        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
    //监听工具条
    table.on('tool(label)', function(obj){ //注：tool是工具条事件名，userAppTable是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        if(layEvent === 'del'){ //删除
            layer.confirm('真的删除 '+ data.label+' 标签么？', {icon: 3, title:'温馨提示'}, function(index){
                layer.close(index);
                //向服务端发送删除指令
                $.ajax({
                    url: '{{ url_for("api_view") }}?'+make_url({Action:"delLabel"}),
                    method: "DELETE",
                    data: {"label": data.label},
                    success: function(res) {
                        if (res.code==0) {
                            layer.msg("标签已删除")
                            //删除对应行（tr）的DOM结构，并更新缓存
                            obj.del();
                            //删除标签区域中的文字并重新渲染
                            var index = labels.indexOf(data.label);
                            labels.splice(index, 1);
                            setLabelArea(labels);
                        } else {
                            layer.msg(res.msg);
                        }
                    },
                    error: function(error){
                        layer.msg("服务器异常！");
                    }
                });
            });
        }
    });
</script>
{% endblock %}
