<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/layui.css"  media="all">
</head>
<body>
<div class="layui-upload">
  <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button> 
  <div class="layui-upload-list">
    <table class="layui-table">
      <thead>
        <tr>
        <th>预览</th>
        <th>文件名</th>
        <th>大小</th>
        <th>状态</th>
        <th>操作</th>
      </tr></thead>
      <tbody id="demoList"></tbody>
    </table>
  </div>
  <button type="button" class="layui-btn" id="testListAction">开始上传</button>
</div>
<script src="layui.js" charset="utf-8"></script>
<script>
layui.use(['upload','layer'], function(){
    var upload = layui.upload, layer = layui.layer, $ = layui.jquery;
    //多文件列表示例
    var files;
    var demoListView = $('#demoList'),uploadListIns = upload.render({
        elem: '#testList'
        ,url: 'https://www.saintic.com/upload/test/'
        ,method: 'POST'
        ,accept: 'images'
        ,multiple: true
        ,auto: false
        ,bindAction: '#testListAction'
        ,choose: function(obj){   
            files = obj.pushFile(); //将每次选择的文件追加到文件队列
            //读取本地文件
            obj.preview(function(index, file, result){
                var tr = $(['<tr id="upload-'+ index +'">'
                    ,'<td><img src="'+ result +'" style="max-width:50px" class="layui-upload-img"></td>'
                    ,'<td>'+ file.name +'</td>'
                    ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                    ,'<td>等待上传</td>'
                    ,'<td>'
                    ,'<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>'
                    ,'<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
                    ,'</td>'
                    ,'</tr>'].join(''));
                //单个重传
                tr.find('.demo-reload').on('click', function(){
                    obj.upload(index, file);
                });
                //删除
                tr.find('.demo-delete').on('click', function(){
                    delete files[index]; //删除对应的文件
                    tr.remove();
                });
                demoListView.append(tr);
            });
        }
        ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
            layer.load(); //上传loading
        }
        ,done: function(res, index, upload){
            console.log(res);
            if(res.code == 0){ //上传成功
                var tr = demoListView.find('tr#upload-'+ index),tds = tr.children();
                tds.eq(3).html('<span style="color: #5FB878;">上传成功</span>');
                tds.eq(4).html(''); //清空操作
                delete files[index]; //删除文件队列已经上传成功的文件
                layer.closeAll('loading');
                return;
            }
            this.error(index, upload);
        }
        ,error: function(index, upload){
            var tr = demoListView.find('tr#upload-'+ index),tds = tr.children();
            tds.eq(3).html('<span style="color: #FF5722;">上传失败</span>');
            tds.eq(4).find('.demo-reload').removeClass('layui-hide'); //显示重传
            layer.closeAll('loading');
        }
        ,allDone: function(obj){ //当文件全部被提交后，才触发
            if (obj.total==obj.successful) {
                layer.msg("全部上传成功！");
            }
            console.log(obj.total,obj.successful, obj.aborted); //得到总文件数, 请求成功的文件数, 请求失败的文件数
        }
    });
});
</script>
</body>
</html>