<div class="layui-footer footer footer-demo">
  <div class="layui-main">
    <p>{{ g.site.site_Copyright }} <a href="{{ url_for('front.index_view') }}">{{ request.url_root.split("://")[-1].strip("/") }}</a> {{ g.site.site_License }} LICENSE</p>
    <p>
      <a href="mailto:{{ g.site.author_Email }}">联系</a>
      <a href="{{ g.site.github }}" target="_blank" rel="nofollow">GitHub</a>
    </p>
    <p class="site-union">
      <a upyun=""><img src="https://img.saintic.com/misc/public/upyunlogo.png"></a>
    </p>
  </div>
</div>