{% extends "base.html" %}

{% block title %}主页{% endblock %}

{% block content %}
    <blockquote class="layui-elem-quote">
        <i>当前位置：主页</i><br><i>当前标签：{{ request.args.get("label", "全部") }}</i><div id="listLabelArea"></div>
    </blockquote>
    <div class="container">
        <div class="waterfall" id="layImages">
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    var $ = layui.jquery;
    var util = layui.util;
    var flow = layui.flow;
    var layer = layui.layer;
     if (typeof String.prototype.startsWith != 'function')   {
       String.prototype.startsWith = function (str){  
          return this.slice(0, str.length) == str;  
       };  
     }  
　　　　  
     //判断当前字符串是否以str结束  
     if (typeof String.prototype.endsWith != 'function') {  
       String.prototype.endsWith = function (str){  
          return this.slice(-str.length) == str;  
       };  
     }  
  
    //右下角工具
    util.fixbar();
    //记载标签列表
    $.ajax({
        url: '{{ url_for("api_view") }}?'+make_url({Action: "getLabel"}),
        success: function (res) {
            // 渲染标签区域
            var str = '';
            for (var index = 0, length = res.data.length; index < length ; index++) {
                str += '<a href="{{ url_for("index_view") }}?label='+ res.data[index].label +'"><span class="layui-badge layui-bg-green">' + res.data[index].label + '</span></a>&nbsp;&nbsp;';
            }
            $('#listLabelArea').html(str);
        },
    });
    //流加载图片
    flow.load({
        elem: '#layImages'
        ,isLazyimg: true
        ,isAuto: true
        ,done: function(page, next){ //加载下一页
            page -= 1;
            var lis = [];
            var params = {Action: "getList", page: page, length: 20, label: "{{ request.args.get('label', '') }}"};
            $.ajax({
                url: '{{ url_for("api_view") }}?'+make_url(params),
                success: function (res) {
                    console.log(res);
                    layui.each(res.data, function(index, item){
                        // 判定imgUrl是否是视频格式文件
                        if (item.imgUrl.endsWith(".mp4")===true) {
                            lis.push('<div class="item"><video width="100%" height="100%" controls="controls" autobuffer="autobuffer"  autoplay="autoplay" loop="loop"><source src="'+item.imgUrl+'" type="video/mp4"></source></video></div>');
                        } else {
                            lis.push('<div class="item"><img lay-src="'+item.imgUrl+'" onclick="showPic(this.src)" lay-id="'+item.imgId+'"></div>');
                        }
                    });
                    next(lis.join(''), page < res.pageCount);
                },
            });
        }
    });
    function showPic(imgUrl) {
        // 获取屏幕宽高
        var winSize = function() {
            var e = window, a = 'inner';
            if (!('innerWidth' in window )){
                a = 'client';
                e = document.documentElement || document.body;
            }
            return { width : e[ a+'Width' ] , height : e[ a+'Height' ] };
        };
        var w = winSize().width - 40, h = winSize().height - 50;
        layer.open({
            type: 1,
            title: false,
            closeBtn: 1,
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            maxWidth: w,
            maxHeight: h,
            scrollbar: false,
            content: '<div><img src="' + imgUrl +'" /></div>'
        });
    }
</script>
{% endblock %}
