{% extends "base.html" %}

{% block title %}主页{% endblock %}

{%- block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"  media="all">
{% endblock -%}

{% block content %}
    <blockquote class="layui-elem-quote">
        当前位置: 主页
    </blockquote>
    <div class="container">
        <div class="waterfall" id="layImages">
        </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
layui.use(['util', 'flow', 'layer'], function(){
    var $ = layui.jquery;
    var util = layui.util;
    var flow = layui.flow;
    var layer = layui.layer;
    //右下角工具
    util.fixbar();
    //相册
    layer.photos({
        photos: '#layImages'
        ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
    });
    //流加载图片
    flow.load({
        elem: '#layImages'
        ,isLazyimg: true
        ,isAuto: true
        ,done: function(page, next){ //加载下一页
            page -= 1;
            var lis = [];
            var params = {Action: "getList", page: page, length: 10};
            $.get('{{ url_for("api_view") }}?'+make_url(params), function(res){
                console.log(res);
                layui.each(res.data, function(index, item){
                    lis.push('<div class="item"><img src="'+item.imgUrl+'" ></div>');
                }); 
                next(lis.join(''), page < res.pageCount);    
            });
      var objs = document.getElementsByTagName("img");
      for(var i=0;i<objs.length;i++)
      {
        objs[i].onclick=function()
        {
          window.open(this.src);
        }
        objs[i].style.cursor = "pointer";
      }


        }
    });

});
</script>
{% endblock %}