/*大层*/
.container{width:80%;margin: 0 auto;}
/*瀑布流层*/
.waterfall{
    -moz-column-count:4; /* Firefox */
    -webkit-column-count:4; /* Safari 和 Chrome */
    column-count:4;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}
/*一个内容层*/
.item{
    padding: 0em;
    margin: 0 0 0em 0;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    border: 0px solid #000;
}
.item img{
    width: 100%;
    margin-bottom:10px;
}

/* 布局 */
.site-inline{font-size: 0;}
.site-tree, .site-content{display: inline-block;  *display:inline; *zoom:1; vertical-align: top; font-size: 14px;}
.site-tree{width: 220px; min-height: 900px; padding: 5px 0 20px;}
.site-content{width: 899px; min-height: 900px; padding: 20px 0 10px 20px;}


/* 底部 */
.footer{padding: 30px 0; line-height: 30px; text-align: center; color: #666; font-weight: 300;}
.footer-demo{height: 50px; padding: 5px 0;}
.footer a{padding: 0 5px;}
.site-union{margin-top: 10px; color: #999;}
.site-union>*{display: inline-block; vertical-align: middle;}
.site-union a[upyun] img{width: 80px;}
.site-union span{position: relative; top: 3px;}
.site-union span a{padding: 0; display: inline; color: #999;}
.site-union span a:hover{text-decoration: underline;}

.footer-demo p{display: inline-block; vertical-align: middle; height: 50px; padding-right: 10px;}
.footer-demo .site-union{position: relative; top: -9px;}

/* 适配多设备 */
@media screen and (max-width: 750px) {
  .layui-main{width: auto; margin: 0 10px;}
  .footer-demo{position: static; height: auto; line-height: 30px;}
  .footer-demo p{height: auto;}
}

.picView { overflow:hidden }
